
body{
width: 1000px;
height: 1000px;
text-align: center;
justify-content: center;
background-color: #cccccc;
background-image:url("imges/atmosphere-background-bright-clouds-19670.jpg");;
size: 50%;
}

.container{
text-align: center;
justify-content: center;
margin: 60px;
display: grid;
grid-template-rows:50px 50px 50px  ;
grid-template-columns:50px 50px 50px  ;
grid-gap: 100px;

}
.boxes{
font-family: "comic sans MS", sans-serif,cursive;
font-size: 50px;
border-radius: 25px;
background-color:#F7CAC9;
width: 80px;
height: 80px;
border: 1px solid gray;
margin: 0px 0px;
padding: 0px 0px;


}
.boxes:hover {
    background-color:gray;
}
.container span {
    text-align: center;
    color: #d04764; 
    font-family: 'Lobster', cursive; 
    font-size: 22px; 
    font-weight: normal; 

}
h1{
    text-align: center;
    color: #d04764; 
    font-family: 'Lobster', cursive; 
    font-size: 36px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff;
}
#StartAgin{
    border-radius: 50%;
    color: #d04764; 
    font-family: 'Lobster', cursive; 
    font-size : 20px;
}
#Win{
    margin-top:40px ;
    border-radius: 50%;
    color: #d04764; 
    font-family: 'Lobster', cursive; 
    font-size : 20px; 
    border-radius: 50%;
}


